---
import Layout from "../../layouts/Layout.astro";

const title = "About Us - InvisibleCharacter";
const description =
  "Learn more about InvisibleSymbol.com, our mission, and the tools we provide.";
---

<Layout title={title} description={description}>
  <section class="max-w-4xl mx-auto space-y-12">
    <div class="container">
      <h1 class="text-4xl font-bold text-center mb-4">Over Ons</h1>
      <p class="mb-4 text-center">
        Welkom bij <strong>InvisibleSymbol.com</strong>, uw platform voor
        innovatieve teksttools! Onze missie is om toegankelijke en betrouwbare
        hulpmiddelen te bieden om tekstmanipulatie te vereenvoudigen, of het nu
        gaat om het creëren van onzichtbare karakters, het genereren van
        Instagram-lettertypen of het vertalen van Wingdings.
      </p>

      <h2 class="text-2xl font-bold mb-4">Wat We Bieden</h2>
      <ul class="mb-4 gap-8">
        <li>
          <strong><u>Onzichtbare Karakter Tool:</u></strong> Genereer eenvoudig lege
          ruimtes voor opmaak of speciale toepassingen.
        </li>
        <li>
          <strong><u>Wingding Vertaler:</u></strong> Converteer gewone tekst naar
          Wingdings met slechts een paar klikken.
        </li>
        <li>
          <strong><u>Instagram Lettertypegenerator:</u></strong> Creëer stijlvolle
          teksten voor uw sociale media-profielen en berichten.
        </li>
      </ul>

      <h2 class="text-2xl font-bold mb-4">Onze Missie</h2>
      <p class="mb-4">
        Wij streven ernaar individuen en bedrijven te versterken met tools die
        creativiteit, productiviteit en zelfexpressie verbeteren. We zetten ons
        in om gebruiksvriendelijke en meertalige oplossingen te bieden die
        voldoen aan diverse behoeften wereldwijd.
      </p>

      <h2 class="text-2xl font-bold mb-4">Neem Contact Op</h2>
      <p class="mb-4">
        Heeft u vragen, suggesties of feedback? Bezoek onze
        <a href="/nl/contact/">Contactpagina</a> om contact met ons op te nemen. We horen
        graag van u!
      </p>

      <h2 class="text-2xl font-bold mb-4">Blijf Verbonden</h2>
      <p class="">
        Volg ons op sociale media om op de hoogte te blijven van de nieuwste
        tools en functies die we introduceren.
      </p>
    </div>
  </section>
</Layout>
