---
import Layout from "../../layouts/Layout.astro";

const title = "Privacy Policy - Invisible-Character";
const description =
  "Review the terms and conditions for using InvisibleSymbol.com.";
---

<Layout title={title} description={description}>
  <main class="container max-w-4xl mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold text-center mb-8">Privacybeleid</h1>
    <div class="prose prose-purple mx-auto">
      <h2 class="text-2xl font-semibold mb-4">
        1. Aanvaarding van Voorwaarden
      </h2>
      <p class="mb-6 text-gray-700">
        Door toegang te krijgen tot en gebruik te maken van de Invisible
        Character-website, gaat u akkoord met deze Algemene Voorwaarden.
      </p>

      <h2 class="text-2xl font-semibold mb-4">2. Gebruik van de Dienst</h2>
      <p class="mb-6 text-gray-700">
        U stemt ermee in onze dienst alleen te gebruiken voor legale doeleinden
        en op een manier die de rechten van anderen niet schendt.
      </p>

      <h2 class="text-2xl font-semibold mb-4">3. Intellectueel Eigendom</h2>
      <p class="mb-6 text-gray-700">
        Alle inhoud op deze website, inclusief tekst, afbeeldingen, logo's en
        software, is eigendom van Invisible Character en wordt beschermd door
        auteursrechtwetten.
      </p>

      <h2 class="text-2xl font-semibold mb-4">
        4. Beperking van Aansprakelijkheid
      </h2>
      <p class="mb-6 text-gray-700">
        Invisible Character is niet aansprakelijk voor enige indirecte,
        incidentele, speciale, gevolg- of strafrechtelijke schade die
        voortvloeit uit uw gebruik van onze dienst.
      </p>

      <h2 class="text-2xl font-semibold mb-4">5. Wijzigingen in Voorwaarden</h2>
      <p class="mb-6 text-gray-700">
        Wij behouden ons het recht voor om deze Algemene Voorwaarden op elk
        moment te wijzigen. Door de dienst na wijzigingen te blijven gebruiken,
        accepteert u de nieuwe Voorwaarden.
      </p>

      <h2 class="text-2xl font-semibold mb-4">6. Toepasselijk Recht</h2>
      <p class="mb-6 text-gray-700">
        Deze Voorwaarden worden beheerst door en geïnterpreteerd in
        overeenstemming met de wetten van [Uw Jurisdictie], zonder rekening te
        houden met conflicten tussen wettelijke bepalingen.
      </p>

      <h2 class="text-2xl font-semibold mb-4">7. Contacteer Ons</h2>
      <p class="mb-6 text-gray-700">
        Als u vragen heeft over deze Voorwaarden, neem dan contact met ons op
        via <a href="mailto:legal@InvisibleSymbol.com"
          >legal@InvisibleSymbol.com</a
        >.
      </p>
    </div>
  </main>
</Layout>
