---
import Layout from "../../layouts/Layout.astro";

const title = "Terms and Conditions - Invisible-Character";
const description =
  "Review the terms and conditions for using InvisibleSymbol.com.";
---

<Layout title={title} description={description}>
  <main class="container max-w-4xl mx-auto px-4 py-8">
    <div class="px-4">
      <h1 class="text-3xl font-bold mb-6 text-center">Algemene Voorwaarden</h1>
      <p class="mb-6 text-center text-gray-700">
        Welkom bij <strong>InvisibleSymbol.com</strong>. Door onze website te
        bezoeken of te gebruiken, gaat u akkoord met de volgende voorwaarden.
        Lees deze zorgvuldig door. Als u niet akkoord gaat met een van deze
        voorwaarden, mag u onze diensten niet gebruiken.
      </p>

      <h2 class="text-2xl font-semibold mb-4">1. Gebruik van Onze Tools</h2>
      <p class="mb-4 text-gray-700">
        Onze tools, waaronder de Onzichtbare Karaktergenerator, Wingding
        Vertaler en Instagram Lettertypegenerator, zijn bedoeld voor persoonlijk
        en niet-commercieel gebruik. Het is niet toegestaan om onze tools te
        repliceren, door te verkopen of te distribueren zonder voorafgaande
        schriftelijke toestemming.
      </p>

      <h2 class="text-2xl font-semibold mb-4">2. Intellectueel Eigendom</h2>
      <p class="mb-4 text-gray-700">
        Alle inhoud op deze website, inclusief tekst, afbeeldingen, logo's en
        software, is eigendom van <strong>InvisibleSymbol.com</strong>
        of zijn licentiegevers en wordt beschermd door auteursrechtwetten. Ongeoorloofd
        gebruik van onze inhoud is verboden.
      </p>

      <h2 class="text-2xl font-semibold mb-4">
        3. Verantwoordelijkheid van de Gebruiker
      </h2>
      <p class="mb-4 text-gray-700">
        U bent verantwoordelijk voor het waarborgen dat uw gebruik van onze
        tools in overeenstemming is met de toepasselijke wetten en geen inbreuk
        maakt op de rechten van anderen. Misbruik van onze diensten kan leiden
        tot beperking of beëindiging van toegang.
      </p>

      <h2 class="text-2xl font-semibold mb-4">4. Disclaimer</h2>
      <p class="mb-4 text-gray-700">
        Onze tools worden geleverd "zoals ze zijn", zonder enige garantie,
        expliciet of impliciet. We garanderen niet de nauwkeurigheid,
        betrouwbaarheid of beschikbaarheid van onze diensten en wijzen elke
        aansprakelijkheid voor schade als gevolg van het gebruik ervan af.
      </p>

      <h2 class="text-2xl font-semibold mb-4">
        5. Wijzigingen in de Voorwaarden
      </h2>
      <p class="mb-4 text-gray-700">
        Wij behouden ons het recht voor om deze voorwaarden op elk moment te
        wijzigen. Wijzigingen worden onmiddellijk van kracht na publicatie. Uw
        voortdurende gebruik van onze website betekent dat u akkoord gaat met de
        bijgewerkte voorwaarden.
      </p>

      <h2 class="text-2xl font-semibold mb-4">6. Contacteer Ons</h2>
      <p class="text-gray-700">
        Als u vragen heeft over deze voorwaarden, neem dan contact met ons op
        via de
        <a href="/nl/contact/" class="text-blue-500 hover:underline"
          >contactpagina</a
        >.
      </p>
    </div>
  </main>
</Layout>
