---
import Layout from "@/layouts/Layout.astro";
import InvisibleCharacterDetector from "@/components/InvisibleCharacterDetector/index.astro";
---

<Layout title="Invisible Text Viewer - Decode Invisble Characters for Free">
  <div class="max-w-6xl mx-auto py-10 px-6 container">
    <h1 class="text-center text-4xl font-bold mb-8">Invisible Text Viewer</h1>
    <InvisibleCharacterDetector />
  </div>
</Layout>
