---
import Layout from "../../layouts/Layout.astro";

const title = "About Us - invisiblesymbol";
const description =
  "Learn more about invisiblesymbol, our mission, and the tools we provide.";
---

<Layout title={title} description={description}>
  <section class="max-w-4xl mx-auto space-y-12">
    <div class="container">
      <h1 class="text-4xl font-bold text-center mb-4">À Propos</h1>
      <p class="mb-4 text-center">
        Bienvenue sur <strong>invisiblesymbol.info</strong>, votre plateforme
        incontournable pour des outils de texte innovants ! Notre mission est de
        fournir des utilitaires accessibles et fiables pour simplifier la
        manipulation de texte, que ce soit pour créer des caractères invisibles,
        générer des polices Instagram, ou traduire Wingdings.
      </p>

      <h2 class="text-2xl font-bold mb-4">Ce Que Nous Proposons</h2>
      <ul class="mb-4 gap-8">
        <li>
          <strong><u>Outil de Caractères Invisibles :</u></strong> Générez facilement
          des espaces vierges pour le formatage ou des cas d'utilisation spécifiques.
        </li>
        <li>
          <strong><u>Traducteur Wingding :</u></strong> Convertissez du texte ordinaire
          en Wingdings en quelques clics.
        </li>
        <li>
          <strong><u>Générateur de Polices Instagram :</u></strong> Créez du texte
          stylisé pour vos profils et publications sur les réseaux sociaux.
        </li>
      </ul>

      <h2 class="text-2xl font-bold mb-4">Notre Mission</h2>
      <p class="mb-4">
        Nous visons à autonomiser les individus et les entreprises avec des
        outils qui favorisent la créativité, la productivité et l'expression
        personnelle. Nous nous engageons à fournir des solutions conviviales et
        multilingues adaptées aux besoins diversifiés dans le monde entier.
      </p>

      <h2 class="text-2xl font-bold mb-4">Contactez-Nous</h2>
      <p class="mb-4">
        Vous avez des questions, des suggestions ou des retours ? Rendez-vous
        sur notre
        <a href="/fr/contact/">page de contact</a> pour nous écrire. Nous serons ravis
        de vous entendre !
      </p>

      <h2 class="text-2xl font-bold mb-4">Restez Connecté</h2>
      <p>
        Suivez-nous sur les réseaux sociaux pour rester informé des derniers
        outils et fonctionnalités que nous proposons.
      </p>
    </div>
  </section>
</Layout>
