---
import Layout from "../../layouts/Layout.astro";

const title = "Privacy Policy - Invisible-Character";
const description =
  "Review the terms and conditions for using InvisibleSymbol.info.";
---

<Layout title={title} description={description}>
  <main class="container max-w-4xl mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold text-center mb-8">
      Politique de Confidentialité
    </h1>
    <div class="prose prose-purple mx-auto">
      <h2 class="text-2xl font-semibold mb-4">1. Acceptation des Conditions</h2>
      <p class="mb-6 text-gray-700">
        En accédant et en utilisant le site web Invisible Character, vous
        acceptez d'être lié par ces Conditions et cette Politique de
        Confidentialité.
      </p>

      <h2 class="text-2xl font-semibold mb-4">2. Utilisation du Service</h2>
      <p class="mb-6 text-gray-700">
        Vous acceptez d'utiliser notre service uniquement à des fins légales et
        d'une manière qui ne porte pas atteinte aux droits d'autrui.
      </p>

      <h2 class="text-2xl font-semibold mb-4">3. Propriété Intellectuelle</h2>
      <p class="mb-6 text-gray-700">
        Tout le contenu de ce site, y compris les textes, graphiques, logos et
        logiciels, est la propriété de Invisible Character et est protégé par
        les lois sur le droit d'auteur.
      </p>

      <h2 class="text-2xl font-semibold mb-4">
        4. Limitation de Responsabilité
      </h2>
      <p class="mb-6 text-gray-700">
        Invisible Character ne sera pas responsable des dommages indirects,
        accessoires, spéciaux, consécutifs ou punitifs résultant de votre
        utilisation de notre service.
      </p>

      <h2 class="text-2xl font-semibold mb-4">5. Modifications des Termes</h2>
      <p class="mb-6 text-gray-700">
        Nous nous réservons le droit de modifier cette Politique de
        Confidentialité à tout moment. Votre utilisation continue du service
        après les modifications constitue une acceptation des nouvelles
        conditions.
      </p>

      <h2 class="text-2xl font-semibold mb-4">6. Droit Applicable</h2>
      <p class="mb-6 text-gray-700">
        Ces termes seront régis et interprétés conformément aux lois de [Votre
        Juridiction], sans tenir compte de ses dispositions en matière de
        conflits de lois.
      </p>

      <h2 class="text-2xl font-semibold mb-4">7. Nous Contacter</h2>
      <p class="mb-6 text-gray-700">
        Pour toute question concernant cette Politique de Confidentialité,
        veuillez nous contacter à <a href="mailto:legal@InvisibleSymbol.com"
          >legal@InvisibleSymbol.com</a
        >.
      </p>
    </div>
  </main>
</Layout>
