---
import Layout from "../../layouts/Layout.astro";

const title = "Terms and Conditions - Invisible-Character";
const description =
  "Review the terms and conditions for using InvisibleSymbol.";
---

<Layout title={title} description={description}>
  <main class="container max-w-4xl mx-auto px-4 py-8">
    <div class="px-4">
      <h1 class="text-3xl font-bold mb-6 text-center">Conditions Générales</h1>
      <p class="mb-6 text-center text-gray-700">
        Bienvenue sur <strong>InvisibleSymbol.com</strong>. En accédant ou en
        utilisant notre site web, vous acceptez d'être lié par les conditions
        générales suivantes. Veuillez les lire attentivement. Si vous n'êtes pas
        d'accord avec une partie de ces conditions, vous ne pouvez pas utiliser
        nos services.
      </p>

      <h2 class="text-2xl font-semibold mb-4">1. Utilisation de Nos Outils</h2>
      <p class="mb-4 text-gray-700">
        Nos outils, y compris le Générateur de Caractères Invisibles, le
        Traducteur Wingding et le Générateur de Polices pour Instagram, sont
        fournis pour un usage personnel et non commercial. Vous ne pouvez pas
        reproduire, revendre ou distribuer nos outils sans autorisation écrite
        préalable.
      </p>

      <h2 class="text-2xl font-semibold mb-4">2. Propriété Intellectuelle</h2>
      <p class="mb-4 text-gray-700">
        Tout le contenu de ce site, y compris les textes, graphiques, logos et
        logiciels, est la propriété de <strong>InvisibleSymbol.com</strong>
        ou de ses licenciés et est protégé par les lois sur le droit d'auteur. L'utilisation
        non autorisée de notre contenu est interdite.
      </p>

      <h2 class="text-2xl font-semibold mb-4">
        3. Responsabilité de l'Utilisateur
      </h2>
      <p class="mb-4 text-gray-700">
        Vous êtes responsable de vous assurer que l'utilisation de nos outils
        respecte les lois applicables et ne porte pas atteinte aux droits des
        autres. Toute mauvaise utilisation de nos services peut entraîner une
        restriction ou une résiliation de l'accès.
      </p>

      <h2 class="text-2xl font-semibold mb-4">
        4. Clause de Non-Responsabilité
      </h2>
      <p class="mb-4 text-gray-700">
        Nos outils sont fournis "en l'état" sans aucune garantie, explicite ou
        implicite. Nous ne garantissons pas l'exactitude, la fiabilité ou la
        disponibilité de nos services et déclinons toute responsabilité pour les
        dommages résultant de leur utilisation.
      </p>

      <h2 class="text-2xl font-semibold mb-4">
        5. Modifications des Conditions
      </h2>
      <p class="mb-4 text-gray-700">
        Nous nous réservons le droit de modifier ces conditions générales à tout
        moment. Les modifications prendront effet immédiatement après leur
        publication. L'utilisation continue de notre site constitue une
        acceptation des conditions mises à jour.
      </p>

      <h2 class="text-2xl font-semibold mb-4">6. Nous Contacter</h2>
      <p class="text-gray-700">
        Si vous avez des questions sur ces conditions, contactez-nous via
        <a href="/fr/contact/" class="text-blue-500 hover:underline"
          >notre page de contact</a
        >.
      </p>
    </div>
  </main>
</Layout>
