---
import Layout from "../../layouts/Layout.astro";

const title = "About Us - InvisibleCharacter";
const description =
  "Learn more about InvisibleSymbol.com, our mission, and the tools we provide.";
---

<Layout title={title} description={description}>
  <section class="max-w-4xl mx-auto space-y-12">
    <div class="container">
      <h1 class="text-4xl font-bold text-center mb-4">Sobre Nós</h1>
      <p class="mb-4 text-center">
        Bem-vindo ao <strong>InvisibleSymbol.com</strong>, sua plataforma para
        ferramentas inovadoras de texto! Nossa missão é oferecer utilitários
        acessíveis e confiáveis para simplificar a manipulação de texto, seja
        criando caracteres invisíveis, gerando fontes para Instagram ou
        traduzindo Wingdings.
      </p>

      <h2 class="text-2xl font-bold mb-4">O que Oferecemos</h2>
      <ul class="mb-4 gap-8">
        <li>
          <strong><u>Ferramenta de Caracteres Invisíveis:</u></strong> Gere espaços
          em branco facilmente para formatação ou usos especiais.
        </li>
        <li>
          <strong><u>Tradutor de Wingding:</u></strong> Converta texto comum para
          Wingdings com apenas alguns cliques.
        </li>
        <li>
          <strong><u>Gerador de Fontes para Instagram:</u></strong> Crie textos estilizados
          para perfis e postagens em redes sociais.
        </li>
      </ul>

      <h2 class="text-2xl font-bold mb-4">Nossa Missão</h2>
      <p class="mb-4">
        Nosso objetivo é capacitar indivíduos e empresas com ferramentas que
        aumentem a criatividade, produtividade e expressão pessoal. Estamos
        comprometidos em oferecer soluções acessíveis e multilíngues para
        atender às diversas necessidades globais.
      </p>

      <h2 class="text-2xl font-bold mb-4">Entre em Contato</h2>
      <p class="mb-4">
        Tem dúvidas, sugestões ou feedback? Visite nossa
        <a href="/pt/contact/">Página de Contato</a> para entrar em contato conosco.
        Adoraríamos ouvir você!
      </p>

      <h2 class="text-2xl font-bold mb-4">Fique Conectado</h2>
      <p class="">
        Siga-nos nas redes sociais para se manter atualizado com as novas
        ferramentas e funcionalidades que introduzimos.
      </p>
    </div>
  </section>
</Layout>
