---
import Layout from "../../layouts/Layout.astro";

const title = "Privacy Policy - Invisible-Character";
const description =
  "Review the terms and conditions for using InvisibleSymbol.com.";
---

<Layout title={title} description={description}>
  <main class="container max-w-4xl mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold text-center mb-8">Política de Privacidade</h1>
    <div class="prose prose-purple mx-auto">
      <h2 class="text-2xl font-semibold mb-4">1. Aceitação dos Termos</h2>
      <p class="mb-6 text-gray-700">
        Ao acessar e usar o site Invisible Character, você concorda com estes
        Termos e Condições.
      </p>

      <h2 class="text-2xl font-semibold mb-4">2. Uso do Serviço</h2>
      <p class="mb-6 text-gray-700">
        Você concorda em usar nosso serviço apenas para fins legais e de forma
        que não viole os direitos de terceiros.
      </p>

      <h2 class="text-2xl font-semibold mb-4">3. Propriedade Intelectual</h2>
      <p class="mb-6 text-gray-700">
        Todo o conteúdo deste site, incluindo textos, gráficos, logotipos e
        software, é propriedade do Invisible Character e protegido por leis de
        direitos autorais.
      </p>

      <h2 class="text-2xl font-semibold mb-4">
        4. Limitação de Responsabilidade
      </h2>
      <p class="mb-6 text-gray-700">
        O Invisible Character não será responsável por quaisquer danos
        indiretos, incidentais, especiais, consequenciais ou punitivos
        decorrentes do uso de nosso serviço.
      </p>

      <h2 class="text-2xl font-semibold mb-4">5. Alterações nos Termos</h2>
      <p class="mb-6 text-gray-700">
        Reservamo-nos o direito de modificar estes Termos e Condições a qualquer
        momento. O uso contínuo do serviço após as alterações constitui a
        aceitação dos novos Termos.
      </p>

      <h2 class="text-2xl font-semibold mb-4">6. Lei Aplicável</h2>
      <p class="mb-6 text-gray-700">
        Estes Termos serão regidos e interpretados de acordo com as leis da [Sua
        Jurisdição], sem consideração às suas disposições sobre conflitos de
        leis.
      </p>

      <h2 class="text-2xl font-semibold mb-4">7. Contate-nos</h2>
      <p class="mb-6 text-gray-700">
        Se você tiver dúvidas sobre estes Termos, entre em contato conosco em <a
          href="mailto:legal@InvisibleSymbol.com">legal@InvisibleSymbol.com</a
        >.
      </p>
    </div>
  </main>
</Layout>
