---
import Layout from "../../layouts/Layout.astro";

const title = "About Us - InvisibleCharacter";
const description =
  "Learn more about InvisibleSymbol.com, our mission, and the tools we provide.";
---

<Layout title={title} description={description}>
  <section class="max-w-4xl mx-auto space-y-12">
    <div class="container">
      <h1 class="text-4xl font-bold text-center mb-4">Tentang Kami</h1>
      <p class="mb-4 text-center">
        Selamat datang di <strong>InvisibleSymbol.com</strong>, platform pilihan
        Anda untuk alat teks inovatif! Misi kami adalah menyediakan utilitas
        yang dapat diakses dan andal untuk menyederhanakan manipulasi teks,
        apakah itu membuat karakter tak terlihat, menghasilkan font Instagram,
        atau menerjemahkan Wingdings.
      </p>

      <h2 class="text-2xl font-bold mb-4">Apa yang Kami Tawarkan</h2>
      <ul class="mb-4 gap-8">
        <li>
          <strong><u>Alat Karakter Tak Terlihat:</u></strong> Mudah menghasilkan
          spasi kosong untuk format atau penggunaan khusus.
        </li>
        <li>
          <strong><u>Penerjemah Wingding:</u></strong> Ubah teks biasa menjadi Wingdings
          hanya dengan beberapa klik.
        </li>
        <li>
          <strong><u>Generator Font Instagram:</u></strong> Buat teks bergaya untuk
          profil dan posting media sosial Anda.
        </li>
      </ul>

      <h2 class="text-2xl font-bold mb-4">Misi Kami</h2>
      <p class="mb-4">
        Kami bertujuan untuk memberdayakan individu dan bisnis dengan alat yang
        meningkatkan kreativitas, produktivitas, dan ekspresi diri. Komitmen
        kami adalah menyediakan solusi yang ramah pengguna dan multibahasa yang
        melayani berbagai kebutuhan di seluruh dunia.
      </p>

      <h2 class="text-2xl font-bold mb-4">Hubungi Kami</h2>
      <p class="mb-4">
        Memiliki pertanyaan, saran, atau masukan? Kunjungi
        <a href="/id/contact/">Halaman Kontak</a> kami untuk menghubungi kami. Kami ingin
        mendengar dari Anda!
      </p>

      <h2 class="text-2xl font-bold mb-4">Tetap Terhubung</h2>
      <p class="">
        Ikuti kami di media sosial untuk mendapatkan pembaruan tentang alat dan
        fitur terbaru yang kami perkenalkan.
      </p>
    </div>
  </section>
</Layout>
