---
import Layout from "../../layouts/Layout.astro";

const title = "Privacy Policy - Invisible-Character";
const description =
  "Review the terms and conditions for using InvisibleCharacter.info.";
---

<Layout title={title} description={description}>
  <main class="container max-w-4xl mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold text-center mb-8">Kebijakan Privasi</h1>
    <div class="prose prose-purple mx-auto">
      <h2 class="text-2xl font-semibold mb-4">1. Penerimaan Ketentuan</h2>
      <p class="mb-6 text-gray-700">
        Dengan mengakses dan menggunakan situs web Invisible Character, Anda
        menyetujui untuk terikat pada Ketentuan dan Kebijakan Privasi ini.
      </p>

      <h2 class="text-2xl font-semibold mb-4">2. Penggunaan Layanan</h2>
      <p class="mb-6 text-gray-700">
        Anda setuju untuk menggunakan layanan kami hanya untuk tujuan yang sah
        dan dengan cara yang tidak melanggar hak orang lain.
      </p>

      <h2 class="text-2xl font-semibold mb-4">3. Kekayaan Intelektual</h2>
      <p class="mb-6 text-gray-700">
        Semua konten di situs web ini, termasuk teks, grafik, logo, dan
        perangkat lunak, adalah milik Invisible Character dan dilindungi oleh
        undang-undang hak cipta.
      </p>

      <h2 class="text-2xl font-semibold mb-4">4. Batasan Tanggung Jawab</h2>
      <p class="mb-6 text-gray-700">
        Invisible Character tidak bertanggung jawab atas kerusakan tidak
        langsung, insidental, khusus, konsekuensial, atau hukuman yang
        diakibatkan oleh penggunaan layanan kami.
      </p>

      <h2 class="text-2xl font-semibold mb-4">5. Perubahan Ketentuan</h2>
      <p class="mb-6 text-gray-700">
        Kami berhak untuk mengubah Kebijakan Privasi ini kapan saja. Penggunaan
        berkelanjutan Anda atas layanan setelah perubahan merupakan penerimaan
        terhadap ketentuan baru.
      </p>

      <h2 class="text-2xl font-semibold mb-4">6. Hukum yang Berlaku</h2>
      <p class="mb-6 text-gray-700">
        Ketentuan ini diatur dan ditafsirkan sesuai dengan hukum [Wilayah Anda]
        tanpa memperhatikan ketentuan konflik hukum.
      </p>

      <h2 class="text-2xl font-semibold mb-4">7. Hubungi Kami</h2>
      <p class="mb-6 text-gray-700">
        Jika Anda memiliki pertanyaan tentang Kebijakan Privasi ini, hubungi
        kami di <a href="mailto:legal@InvisibleSymbol.com"
          >legal@InvisibleSymbol.com</a
        >.
      </p>
    </div>
  </main>
</Layout>
