---
import Layout from "../layouts/Layout.astro";

const title = "404: Page Not Found";
const description = "The page you're looking for doesn't exist.";
const url = "https://invisiblesymbol.com/404/";
---

<Layout title={title} description={description}>
  <main
    class="w-full min-h-screen flex items-center justify-center dark:from-gray-900 dark:to-gray-800"
  >
    <div class="container px-4 mx-auto">
      <div class="max-w-2xl mx-auto text-center space-y-8">
        <div class="relative mb-10">
          <h1
            class="text-9xl font-bold tracking-tighter bg-clip-text text-black drop-shadow-sm"
          >
            404
          </h1>
          <div class="absolute -bottom-6 left-1/2 transform -translate-x-1/2">
            <div
              class="px-4 py-2 bg-gray-50 border border-gray-100 dark:bg-gray-800 rounded-full shadow-lg"
            >
              <p class="text-sm font-medium text-gray-500 dark:text-gray-400">
                Page not found
              </p>
            </div>
          </div>
        </div>

        <h2 class="mb-6 text-3xl font-semibold text-gray-900 dark:text-white">
          Oops! We've lost this page
        </h2>

        <p class="mb-8 text-lg text-gray-600 dark:text-gray-300">
          The page you're looking for doesn't exist or has been moved. Don't
          worry, you can find plenty of other things on our homepage.
        </p>

        <div class="flex flex-wrap items-center justify-center gap-4">
          <a
            href="/"
            class="px-8 py-3 text-base font-medium text-center text-white transition duration-300 ease-in-out transform bg-black rounded-lg hover:bg-gray-900 hover:scale-105 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:ring-offset-2"
          >
            Back to Homepage
          </a>

          <button
            onclick="history.back()"
            class="px-8 py-3 text-base font-medium text-center text-black transition duration-300 ease-in-out transform bg-white border border-gray-600 rounded-lg dark:bg-gray-800 dark:text-purple-400 dark:border-purple-400 hover:bg-purple-50 dark:hover:bg-gray-700 hover:scale-105 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:ring-offset-2"
          >
            Go Back
          </button>
        </div>
      </div>
    </div>
  </main>
</Layout>
