---
import Layout from "../layouts/Layout.astro";

const title = "Terms and Conditions - InvisibleSymbol";
const description =
  "Review the terms and conditions for using InvisibleSymbol.com.";
---

<Layout title={title} description={description}>
  <div class="max-w-3xl mx-auto">
    <h1 class="text-3xl font-bold mb-6 text-center">Terms and Conditions</h1>
    <p class="mb-6 text-center text-gray-700">
      Welcome to <a href"/">InvisibleSymbol.com</a>. By accessing or using
      our website, you agree to be bound by the following terms and
      conditions. Please read them carefully. If you do not agree with any
      part of these terms, you may not use our services.
    </p>

    <h2 class="text-2xl font-semibold mb-4">1. Use of Our Tools</h2>
    <p class="mb-4 text-gray-700">
      Our tools, including the Invisible Character Generator, Wingding
      Translator, and Instagram Font Generator, are provided for personal and
      non-commercial use. You may not replicate, resell, or distribute our
      tools without prior written permission.
    </p>

    <h2 class="text-2xl font-semibold mb-4">2. Intellectual Property</h2>
    <p class="mb-4 text-gray-700">
      All content on this website, including text, graphics, logos, and
      software, is the property of <strong>InvisibleSymbol.com</strong>
      or its licensors and is protected by copyright laws. Unauthorized use of
      our content is prohibited.
    </p>

    <h2 class="text-2xl font-semibold mb-4">3. User Responsibility</h2>
    <p class="mb-4 text-gray-700">
      You are responsible for ensuring that your use of our tools complies
      with applicable laws and does not infringe on the rights of others.
      Misuse of our services may result in restriction or termination of
      access.
    </p>

    <h2 class="text-2xl font-semibold mb-4">4. Disclaimer</h2>
    <p class="mb-4 text-gray-700">
      Our tools are provided "as is" without warranties of any kind, either
      express or implied. We do not guarantee the accuracy, reliability, or
      availability of our services and disclaim any liability for damages
      resulting from their use.
    </p>

    <h2 class="text-2xl font-semibold mb-4">5. Changes to These Terms</h2>
    <p class="mb-4 text-gray-700">
      We reserve the right to modify these terms and conditions at any time.
      Changes will be effective immediately upon posting. Your continued use
      of our website constitutes acceptance of the updated terms.
    </p>

    <h2 class="text-2xl font-semibold mb-4">6. Contact Us</h2>
    <p class="text-gray-700">
      If you have any questions about these terms, please reach out to us at
      <a href="/contact/" class="text-blue-500 hover:underline"
        >our contact page</a
      >.
    </p>
  </div>
</Layout>
