---
import Layout from "../../layouts/Layout.astro";

const title = "Privacy Policy - Invisible-Character";
const description =
  "Review the terms and conditions for using InvisibleSymbol.com.";
---

<Layout title={title} description={description}>
  <main class="container max-w-4xl mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold text-center mb-8">
      Informativa sulla Privacy
    </h1>
    <div class="prose prose-purple mx-auto">
      <h2 class="text-2xl font-semibold mb-4">1. Accettazione dei Termini</h2>
      <p class="mb-6 text-gray-700">
        Accedendo e utilizzando il sito web Invisible Character, accetti di
        essere vincolato da questi Termini e Condizioni.
      </p>

      <h2 class="text-2xl font-semibold mb-4">2. Uso del Servizio</h2>
      <p class="mb-6 text-gray-700">
        Accetti di utilizzare il nostro servizio solo per scopi legali e in modo
        che non violi i diritti di altri.
      </p>

      <h2 class="text-2xl font-semibold mb-4">3. Proprietà Intellettuale</h2>
      <p class="mb-6 text-gray-700">
        Tutti i contenuti di questo sito web, inclusi testi, grafica, loghi e
        software, sono di proprietà di Invisible Character e protetti dalle
        leggi sul diritto d'autore.
      </p>

      <h2 class="text-2xl font-semibold mb-4">
        4. Limitazione di Responsabilità
      </h2>
      <p class="mb-6 text-gray-700">
        Invisible Character non è responsabile per eventuali danni indiretti,
        incidentali, speciali, consequenziali o punitivi derivanti dall'uso del
        nostro servizio.
      </p>

      <h2 class="text-2xl font-semibold mb-4">5. Modifiche ai Termini</h2>
      <p class="mb-6 text-gray-700">
        Ci riserviamo il diritto di modificare questi Termini e Condizioni in
        qualsiasi momento. L'uso continuato del servizio dopo le modifiche
        implica l'accettazione dei nuovi Termini.
      </p>

      <h2 class="text-2xl font-semibold mb-4">6. Legge Applicabile</h2>
      <p class="mb-6 text-gray-700">
        Questi Termini sono regolati e interpretati in conformità con le leggi
        della [Tua Giurisdizione], senza considerare conflitti tra disposizioni
        di legge.
      </p>

      <h2 class="text-2xl font-semibold mb-4">7. Contattaci</h2>
      <p class="mb-6 text-gray-700">
        Se hai domande su questi Termini, contattaci via email a <a
          href="mailto:legal@InvisibleSymbol.com">legal@InvisibleSymbol.com</a
        >.
      </p>
    </div>
  </main>
</Layout>
