---
import Layout from "../../layouts/Layout.astro";

const title = "Privacy Policy - Invisible-Character";
const description =
  "Review the terms and conditions for using InvisibleSymbol.com.";
---

<Layout title={title} description={description}>
  <main class="container max-w-4xl mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold text-center mb-8">
      Политика конфиденциальности
    </h1>
    <div class="prose prose-purple mx-auto">
      <h2 class="text-2xl font-semibold mb-4">1. Принятие условий</h2>
      <p class="mb-6 text-gray-700">
        Посещая и используя сайт Invisible Character, вы соглашаетесь с этими
        условиями.
      </p>

      <h2 class="text-2xl font-semibold mb-4">2. Использование сервиса</h2>
      <p class="mb-6 text-gray-700">
        Вы соглашаетесь использовать наш сервис только в законных целях и таким
        образом, который не нарушает права других лиц.
      </p>

      <h2 class="text-2xl font-semibold mb-4">
        3. Интеллектуальная собственность
      </h2>
      <p class="mb-6 text-gray-700">
        Весь контент на этом веб-сайте, включая текст, графику, логотипы и
        программное обеспечение, является собственностью Invisible Character и
        защищен авторским правом.
      </p>

      <h2 class="text-2xl font-semibold mb-4">
        4. Ограничение ответственности
      </h2>
      <p class="mb-6 text-gray-700">
        Invisible Character не несет ответственности за любые косвенные,
        случайные, особые или штрафные убытки, вызванные использованием нашего
        сервиса.
      </p>

      <h2 class="text-2xl font-semibold mb-4">5. Изменения в условиях</h2>
      <p class="mb-6 text-gray-700">
        Мы оставляем за собой право изменять эти условия в любое время.
        Продолжение использования сервиса после изменений означает ваше согласие
        с новыми условиями.
      </p>

      <h2 class="text-2xl font-semibold mb-4">6. Применимое право</h2>
      <p class="mb-6 text-gray-700">
        Эти условия регулируются и толкуются в соответствии с законами [вашей
        юрисдикции], без учета их коллизионных норм.
      </p>

      <h2 class="text-2xl font-semibold mb-4">7. Свяжитесь с нами</h2>
      <p class="mb-6 text-gray-700">
        Если у вас есть вопросы по поводу этих условий, пожалуйста, свяжитесь с
        нами по адресу <a href="mailto:legal@InvisibleSymbol.com"
          >legal@InvisibleSymbol.com</a
        >.
      </p>
    </div>
  </main>
</Layout>
