---
import Layout from "../../layouts/Layout.astro";

const title = "Terms and Conditions - Invisible-Character";
const description =
  "Review the terms and conditions for using InvisibleSymbol.com.";
---

<Layout title={title} description={description}>
  <main class="container max-w-4xl mx-auto px-4 py-8">
    <div class="px-4">
      <h1 class="text-3xl font-bold mb-6 text-center">Условия использования</h1>
      <p class="mb-6 text-center text-gray-700">
        Добро пожаловать на <strong>InvisibleSymbol.com</strong>. Посещая или
        используя наш веб-сайт, вы соглашаетесь с нижеследующими условиями.
        Пожалуйста, внимательно ознакомьтесь с ними. Если вы не согласны с
        какими-либо из этих условий, вы не можете использовать наши услуги.
      </p>

      <h2 class="text-2xl font-semibold mb-4">
        1. Использование наших инструментов
      </h2>
      <p class="mb-4 text-gray-700">
        Наши инструменты, включая генератор невидимых символов, переводчик
        Wingding и генератор шрифтов для Instagram, предоставляются для личного
        и некоммерческого использования. Вы не можете воспроизводить,
        перепродавать или распространять наши инструменты без предварительного
        письменного разрешения.
      </p>

      <h2 class="text-2xl font-semibold mb-4">
        2. Интеллектуальная собственность
      </h2>
      <p class="mb-4 text-gray-700">
        Весь контент на этом веб-сайте, включая текст, графику, логотипы и
        программное обеспечение, является собственностью <strong
          >InvisibleSymbol.com</strong
        >
        или его лицензиаров и защищен авторскими правами. Несанкционированное использование
        нашего контента запрещено.
      </p>

      <h2 class="text-2xl font-semibold mb-4">
        3. Ответственность пользователя
      </h2>
      <p class="mb-4 text-gray-700">
        Вы несете ответственность за то, чтобы использование наших инструментов
        соответствовало применимому законодательству и не нарушало права других
        лиц. Неправомерное использование наших услуг может привести к
        ограничению или прекращению доступа.
      </p>

      <h2 class="text-2xl font-semibold mb-4">4. Отказ от ответственности</h2>
      <p class="mb-4 text-gray-700">
        Наши инструменты предоставляются «как есть» без каких-либо гарантий,
        явных или подразумеваемых. Мы не гарантируем точность, надежность или
        доступность наших услуг и не несем ответственности за ущерб, вызванный
        их использованием.
      </p>

      <h2 class="text-2xl font-semibold mb-4">5. Изменения в условиях</h2>
      <p class="mb-4 text-gray-700">
        Мы оставляем за собой право изменять эти условия в любое время.
        Изменения вступают в силу немедленно после их публикации. Продолжение
        использования нашего веб-сайта означает ваше согласие с обновленными
        условиями.
      </p>

      <h2 class="text-2xl font-semibold mb-4">6. Свяжитесь с нами</h2>
      <p class="text-gray-700">
        Если у вас есть вопросы по поводу этих условий, пожалуйста, свяжитесь с
        нами через
        <a href="/ru/contact/" class="text-blue-500 hover:underline"
          >нашу контактную страницу</a
        >.
      </p>
    </div>
  </main>
</Layout>
