---
import Layout from "../../layouts/Layout.astro";

const title = "About Us - InvisibleCharacter";
const description =
  "Learn more about InvisibleCharacter.info, our mission, and the tools we provide.";
---

<Layout title={title} description={description}>
  <section class="max-w-4xl mx-auto space-y-12">
    <div class="container">
      <h1 class="text-4xl font-bold text-center mb-4">Über Uns</h1>
      <p class="mb-4 text-center">
        Willkommen bei <strong>InvisibleCharacter.info</strong>, Ihrer
        Anlaufstelle für innovative Textwerkzeuge! Unsere Mission ist es,
        zugängliche und zuverlässige Werkzeuge bereitzustellen, um die
        Textbearbeitung zu vereinfachen – sei es das Erstellen unsichtbarer
        Zeichen, das Generieren von Instagram-Schriften oder das Übersetzen von
        Wingdings.
      </p>

      <h2 class="text-2xl font-bold mb-4">Was Wir Anbieten</h2>
      <ul class="mb-4 gap-8">
        <li>
          <strong><u>Unsichtbare Zeichen:</u></strong> Einfach leere Zeichen für
          Formatierung oder spezielle Anwendungsfälle generieren.
        </li>
        <li>
          <strong><u>Wingdings-Übersetzer:</u></strong> Konvertieren Sie normalen
          Text in Wingdings mit nur wenigen Klicks.
        </li>
        <li>
          <strong><u>Instagram-Schriftgenerator:</u></strong> Erstellen Sie stilisierte
          Texte für Ihre Social-Media-Profile und -Beiträge.
        </li>
      </ul>

      <h2 class="text-2xl font-bold mb-4">Unsere Mission</h2>
      <p class="mb-4">
        Wir möchten Einzelpersonen und Unternehmen mit Werkzeugen ausstatten,
        die Kreativität, Produktivität und Selbstausdruck fördern. Unser
        Engagement gilt benutzerfreundlichen und mehrsprachigen Lösungen, die
        den vielfältigen Anforderungen weltweit gerecht werden.
      </p>

      <h2 class="text-2xl font-bold mb-4">Kontaktieren Sie Uns</h2>
      <p class="mb-4">
        Haben Sie Fragen, Vorschläge oder Feedback? Besuchen Sie unsere
        <a href="/de/contact/">Kontaktseite</a>, um mit uns in Kontakt zu treten.
        Wir würden uns freuen, von Ihnen zu hören!
      </p>

      <h2 class="text-2xl font-bold mb-4">Bleiben Sie Verbunden</h2>
      <p>
        Folgen Sie uns auf Social Media, um über die neuesten Tools und
        Funktionen auf dem Laufenden zu bleiben.
      </p>
    </div>
  </section>
</Layout>
