---
import Layout from "../../layouts/Layout.astro";

const title = "Privacy Policy - Invisible-Character";
const description =
  "Review the terms and conditions for using InvisibleCharacter.info.";
---

<Layout title={title} description={description}>
  <main class="container max-w-4xl mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold text-center mb-8">Datenschutzrichtlinie</h1>
    <div class="prose prose-purple mx-auto">
      <h2 class="text-2xl font-semibold mb-4">1. Annahme der Bedingungen</h2>
      <p class="mb-6 text-gray-700">
        Durch den Zugriff auf und die Nutzung der Invisible Character-Website
        stimmen Sie diesen Allgemeinen Geschäftsbedingungen zu.
      </p>

      <h2 class="text-2xl font-semibold mb-4">2. Nutzung des Dienstes</h2>
      <p class="mb-6 text-gray-700">
        Sie stimmen zu, unseren Dienst nur für rechtmäßige Zwecke zu nutzen und
        dabei keine Rechte anderer zu verletzen.
      </p>

      <h2 class="text-2xl font-semibold mb-4">3. Geistiges Eigentum</h2>
      <p class="mb-6 text-gray-700">
        Alle Inhalte auf dieser Website, einschließlich Texten, Grafiken, Logos
        und Software, sind Eigentum von Invisible Character und durch
        Urheberrechtsgesetze geschützt.
      </p>

      <h2 class="text-2xl font-semibold mb-4">4. Haftungsbeschränkung</h2>
      <p class="mb-6 text-gray-700">
        Invisible Character haftet nicht für indirekte, zufällige, besondere,
        Folgeschäden oder Strafschäden, die sich aus Ihrer Nutzung unseres
        Dienstes ergeben.
      </p>

      <h2 class="text-2xl font-semibold mb-4">5. Änderungen der Bedingungen</h2>
      <p class="mb-6 text-gray-700">
        Wir behalten uns das Recht vor, diese Allgemeinen Geschäftsbedingungen
        jederzeit zu ändern. Ihre fortgesetzte Nutzung des Dienstes nach den
        Änderungen gilt als Annahme der neuen Bedingungen.
      </p>

      <h2 class="text-2xl font-semibold mb-4">6. Anwendbares Recht</h2>
      <p class="mb-6 text-gray-700">
        Diese Bedingungen unterliegen den Gesetzen von [Ihrer Gerichtsbarkeit]
        und werden in Übereinstimmung mit diesen ausgelegt, ohne
        Berücksichtigung von Konflikten zwischen den gesetzlichen Bestimmungen.
      </p>

      <h2 class="text-2xl font-semibold mb-4">7. Kontaktieren Sie uns</h2>
      <p class="mb-6 text-gray-700">
        Wenn Sie Fragen zu diesen Bedingungen haben, kontaktieren Sie uns bitte
        unter <a href="mailto:legal@invisiblecharacter.com"
          >legal@invisiblecharacter.com</a
        >.
      </p>
    </div>
  </main>
</Layout>
