---
import Layout from "../../layouts/Layout.astro";

const title = "About Us - invisiblesymbol";
const description =
  "Learn more about invisiblesymbol, our mission, and the tools we provide.";
---

<Layout title={title} description={description}>
  <section class="max-w-4xl mx-auto space-y-12">
    <div class="container">
      <h1 class="text-4xl font-bold text-center mb-4">About Us</h1>
      <p class="mb-4 text-center">
        Welcome to <strong>invisiblesymbol.info</strong>, your go-to platform
        for innovative text tools! Our mission is to provide accessible and
        reliable utilities to simplify text manipulation, whether it's creating
        invisible characters, generating Instagram fonts, or translating
        Wingdings.
      </p>

      <h2 class="text-2xl font-bold mb-4">What We Offer</h2>
      <ul class="mb-4 gap-8">
        <li>
          <strong><u>Invisible Character Tool:</u></strong> Easily generate blank
          spaces for formatting or special use cases.
        </li>
        <li>
          <strong><u>Wingding Translator:</u></strong> Convert plain text into Wingdings
          with just a few clicks.
        </li>
        <li>
          <strong><u>Instagram Font Generator:</u></strong> Create stylish text for
          your social media profiles and posts.
        </li>
      </ul>

      <h2 class="text-2xl font-bold mb-4">Our Mission</h2>
      <p class="mb-4">
        We aim to empower individuals and businesses with tools that enhance
        creativity, productivity, and self-expression. Our commitment is to
        provide user-friendly and multilingual solutions that cater to diverse
        needs worldwide.
      </p>

      <h2 class="text-2xl font-bold mb-4">Get in Touch</h2>
      <p class="mb-4">
        Have questions, suggestions, or feedback? Visit our
        <a href="/es/contact/">Contact Page</a> to reach out. We'd love to hear from
        you!
      </p>

      <h2 class="text-2xl font-bold mb-4">Stay Connected</h2>
      <p class="">
        Follow us on social media to stay updated with the latest tools and
        features we introduce.
      </p>
    </div>
  </section>
</Layout>
