---
import Layout from "../../layouts/Layout.astro";

const title = "Privacy Policy - Invisible-Character";
const description =
  "Review the terms and conditions for using InvisibleSymbol.com.";
---

<Layout title={title} description={description}>
  <main class="containe max-w-4xl mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold text-center mb-8">Política de Privacidad</h1>
    <div class="prose prose-purple mx-auto">
      <h2 class="text-2xl font-semibold mb-4">1. Aceptación de los Términos</h2>
      <p class="mb-6 text-gray-700">
        Al acceder y utilizar el sitio web Invisible Character, aceptas estar
        sujeto a estos Términos y Condiciones.
      </p>

      <h2 class="text-2xl font-semibold mb-4">2. Uso del Servicio</h2>
      <p class="mb-6 text-gray-700">
        Aceptas usar nuestro servicio solo para fines legales y de una manera
        que no infrinja los derechos de otros.
      </p>

      <h2 class="text-2xl font-semibold mb-4">3. Propiedad Intelectual</h2>
      <p class="mb-6 text-gray-700">
        Todo el contenido de este sitio web, incluyendo texto, gráficos,
        logotipos y software, es propiedad de Invisible Character y está
        protegido por las leyes de derechos de autor.
      </p>

      <h2 class="text-2xl font-semibold mb-4">
        4. Limitación de Responsabilidad
      </h2>
      <p class="mb-6 text-gray-700">
        Invisible Character no será responsable de ningún daño indirecto,
        incidental, especial, consecuente o punitivo resultante de tu uso de
        nuestro servicio.
      </p>

      <h2 class="text-2xl font-semibold mb-4">5. Cambios en los Términos</h2>
      <p class="mb-6 text-gray-700">
        Nos reservamos el derecho de modificar estos Términos y Condiciones en
        cualquier momento. El uso continuo del servicio tras los cambios
        constituye la aceptación de los nuevos términos.
      </p>

      <h2 class="text-2xl font-semibold mb-4">6. Ley Aplicable</h2>
      <p class="mb-6 text-gray-700">
        Estos Términos se regirán e interpretarán de acuerdo con las leyes de
        [Tu Jurisdicción], sin tener en cuenta sus disposiciones sobre conflicto
        de leyes.
      </p>

      <h2 class="text-2xl font-semibold mb-4">7. Contáctanos</h2>
      <p class="mb-6 text-gray-700">
        Si tienes alguna pregunta sobre estos Términos, contáctanos en <a
          href="mailto:legal@InvisibleSymbol.com">legal@InvisibleSymbol.com</a
        >.
      </p>
    </div>
  </main>
</Layout>
